# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DanserMenuRewrite.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\github.com\melonis45\dansermenu\rewrite\DanserMenuRewrite\.idea\.idea.DanserMenuRewrite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
